<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!--

 This example file from:
 http://community.jboss.org/wiki/UsingHibernateWithTomcat  
 -->
<hibernate-configuration>
    <session-factory>
    
        <!-- Settings for a local HSQL (testing) database. -->
        <!-- 
        <property name="dialect">${database.dialect}XXXX</property>
        <property name="connection.driver_class">${database.driverClassName}</property>
        <property name="connection.url">${database.url}</property>
        <property name="connection.username">${database.user}</property>
        <property name="connection.password">${database.password}</property>
 -->
        <!-- Use the C3P0 connection pool. -->
<!--         <property name="c3p0.min_size">3</property> -->
<!--         <property name="c3p0.max_size">5</property> -->
<!--         <property name="c3p0.timeout">1800</property> -->
    
        <!-- Disable second-level cache. -->
<!--         <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->
<!--         <property name="cache.use_query_cache">false</property> -->
<!--         <property name="cache.use_minimal_puts">false</property> -->
<!--         <property name="max_fetch_depth">3</property> -->
    
        <!-- Print SQL to stdout in test mode. -->
<!--         <property name="show_sql">true</property> -->
<!--         <property name="format_sql">true</property> -->
    
        <!-- Drop and then re-create schema on SessionFactory build, for testing. -->
<!--         <property name="hbm2ddl.auto">create</property> -->
    
        <!-- Bind the getCurrentSession() method to the thread. -->
<!--         <property name="current_session_context_class">thread</property> -->

        <!-- Hibernate XML mapping files -->
<!--         <mapping resource="org/MyClass.hbm.xml"/> -->
    
        <!-- Hibernate Annotations (and package-info.java) -->
<!--         <mapping package="com.soebes.scms.bo.blog"/> -->
        <mapping class="com.soebes.scms.bo.blog.BlogPostBO"/>
        <mapping class="com.soebes.scms.bo.blog.CommentBO"/>

    </session-factory>

</hibernate-configuration>
